* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #f55a5a;
}

nav > img {
  width: 24px;
  margin-right: 7px;
}

.nav > h1 {
  font-size: 15px;
  letter-spacing: -1px;
  margin-left: 10px;
  font-weight: 500;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.card {
  display: flex;
  margin: 40px 35px;
}

.card--logo {
  margin-left: 20px;
  height: 10px;
}

.card--country {
  color: #2b283a;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 5px;
}

.card--maps {
  color: #918e9b;
  font-size: 10px;
  margin-left: 10px;
}

.card--title {
  color: #2b283a;
  font-size: 25px;
  font-weight: 700;
  margin: 0 20px;
}

.card--dates {
  color: #2b283a;
  font-size: 10px;
  font-weight: 700;
  margin: 10px 20px;
}

.card--description {
  color: #2b283a;
  font-size: 10px;
  line-height: 1.5;
  margin: 10px 20px;
}
