* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px 36px;
  background-color: #f55a5a;
}
